swagger: '2.0'

info:
  version: 0.0.2
  title: Small Project 25
  description: Group 25s small project for COP4331
  contact:
    email: griffin.zakow@ucf
    
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /Login.php:
    post:
      tags:
      - Users
      summary: Logs into Contact Manager
      operationID: 25Login
      description: Logs into Contact Manager
      consumes:
      - application/json
      produses:
      - application/json
      parameters:
      - in: body
        name: loginItem
        description: Login
        schema:
          $ref: '#/definitions/Login'
      responses: 
        200:
          description: OK
          schema:
            $ref: '#/definitions/LoginResponse'
        404:
          description: URL Not Found
        500:
          description: Server Error
  /SearchContacts.php:
    post:
      tags:
      - ContactOperation
      summary: Fetches contacts based on a search query.
      operationID: 25ContactsSearch
      description: 
        Fetches contacts based on a search query. If the input is misformatted, return a 400 error. If UserID is blank, return no contacts. If search is blank, return all contacts by user.
      parameters:
      - in: body
        name: loginItem
        description: Login
        schema:
          $ref: '#/definitions/CSearch'
      responses: 
        200:
          description: OK
          schema:
            $ref: '#/definitions/CSearchResponse'
        404:
          description: URL Not Found
        400:
          description: Error in input formatting (Bad Request)
          schema:
            type: object
            properties:
              results:
                type: array
                items: {}
                example: []
              error:
                type: string
                example: "Bad Input Formatting"
                
                
        500:
          description: Server Error
  /Register.php:
    post:
      tags:
      - Users
      summary: Register User for Contact Manager
      operationID: 25Register
      description: Register User for Contact Manager
      consumes:
      - application/json
      produses:
      - application/json
      parameters:
      - in: body
        name: RegisterItem
        description: Register
        schema:
          $ref: '#/definitions/Register'
      responses: 
        200:
          description: OK
          schema:
            $ref: '#/definitions/RegisterResponse'
        404:
          description: URL Not Found
          
        500:
          description: Server Error
        
definitions:
  Login:
    type: object
    required:
    - login
    - password
    properties:
      login:
        type: string
        example: "LarryM"
      password:
        type: string
        example: "COP4331"
  LoginResponse:
    type: object
    properties: 
      id:
        type: integer
        description: The user ID
        example: 2
      firstName:
        type: string
        example: "Larry"
        description: First Name of User
      lastName:
        type: string
        example: "Mathews"
        description: Last Name of User
      error:
        type: string
        description: Error Responce of API. Empty for no error.
        example: ""
  Register:
    type: object
    required:
    - login
    - password
    - firstName
    - lastName
    properties:
      login:
        type: string
        example: "TestLogin1"
      password:
        type: string
        example: "TestPassword"
      firstName:
        type: string
        example: "Testman"
      lastName:
        type: string
        example: "Tempingtion"
  RegisterResponse:
    type: object
    properties: 
      error:
        type: string
        description: Error Responce of API. Empty for no error.
        example: ""
  CSearch:
    type: object
    required:
    - userID
    properties:
      search:
        type: string
        example: "Mary"
      userID:
        type: int
        example: 1
  CSearchResponse:
    type: object
    properties:
      results:
        type: array
        items:
          type: object
          properties:
            id:
              type: int
              example: 4
            firstName:
              type: string
              example: "Mary"
            lastName: 
              type: string
              example: "Cena"
            phone:
              type: string
              example: "40745335147"
            email:
              type: string
              example: "uWontCME@knight.ucf"
      error:
        type: string
        example: ""
host: cop4331-group25.xyz
basePath: /LAMPAPI
schemes: 
- http